@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,100;1,600&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root{
    font-family: 'AR One Sans','Montserrat', 'Roboto', sans-serif;
    --blue_1 : #eff6ff;
    --blue_2 : #bfdbfe;
    --blue_3 : #60a5fa;
    --blue_4 : #2563eb;
}

body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue_1);
}

.main-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    width: 90vw;
    height: 90vh;

    background-color: var(--blue_2);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 5%;

    background-color: var(--blue_2);
}

#name-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    width: 90%;
    height: 5%;

    background-color: var(--blue_2);
}

#name-form input, #name-form label{
    font-size: 1rem;
}

.container{
    display: grid;
    justify-self: center;
    align-self: center;

    width: 90%;
    height: 80%;
    margin: 1rem 0;
    
    grid: repeat(3,minmax(20%, 50%))/repeat(3,minmax(20%, 50%));
    border: 5px black solid; 
}

.block{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue_3);
    font-size: 2rem;
    border: 1px black solid;
}

.block:hover{
    border: 1px var(--blue_1) solid;;
}

button{
    width: 30%;
    padding: 5px;
    background-color: var(--blue_4);
    color: white;
    border-radius: 10px;
    border: 2px black solid;
}

@media (max-width: 425px){
    #name-form input, #name-form label{
        font-size: 0.5rem;
    }
}