body{
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    width: 90vw;
    height: 90vh;

    border: 1px red solid;
}

#name-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;

    width: 90%;
    height: 10%;
    border: 1px red solid;
}

.container{
    display: grid;
    justify-self: center;
    align-self: center;

    width: 90%;
    height: 90%;
    
    grid: repeat(3,minmax(20%, 80%))/repeat(3,minmax(20%, 80%));
    border: 1px red solid;
}

.block{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px red solid;
}